@media only screen and (max-width: 425px) {
    header {
        flex-direction: column;
    }

    .list-items {
        flex-direction: column;
        text-align: center;
        line-height: 1.7;
    }

    .list-items > li > a {
        text-decoration: underline;
        text-decoration-color: #fff;
    }

    .main-motto {
        font-size: 2rem;
    }

    .founders {
        flex-direction: column;
    }

    .founders i {
        margin-top: 1rem;
    }

    .image-descriptions img {
        height: 20rem;
    }

    .img-description {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .image-descriptions img {
        margin: auto;
    }

    .img-description {
        display: flex;
        flex-direction: column;
    }
}